# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Moonstone.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Game dev\Unity\Laboratoire de Jeux Videos - Hiver 2021\Moonstone\.idea\.idea.Moonstone\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
